body{
    text-align: center;
    background-image: url(b.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 430%;
    margin-left: auto;
    margin-right: auto; 
}

.colou{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    border:transparent
}
table,tr,th{
    background-color: rgb(0, 0, 0);
}
table,tr,td{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: transparent;
    color: rgb(169, 229, 243);

   background-color: rgb(161, 24, 155);
    background-position: center;
    background-size: cover;
    width: 43%;
    width: 43%;

}